.changelog {
  background-color: var(--changelog-background);
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--border-thin);
  margin-bottom: var(--flex-gap);
}

.add {
  color: var(--changelog-add-color);
  list-style: "+  ";
}

.remove {
  color: var(--changelog-remove-color);
  list-style: "-  ";
}

.change {
  color: var(--changelog-change-color);
  
}