@import url('https://fonts.cdnfonts.com/css/aire-exterior');

:root {
  --border-radius: 10px;
  --font-family: 'Aire Exterior', sans-serif;
  --default-font-family: Arial, Helvetica, sans-serif;

  --border-thin: 1px solid var(--button-border-color);
  --invert-icon-color: 0;
  --invert-icon-color-callout: 1;
  --invert-icon-button-color: 0;
    
  --flex-gap: 10px;
  --max-width: 700px;
  
  --notchBorder: 5px;
  --notchSize: 20px;
  --notch-max-value: 100%;
  --notch-min-value: 0%;

  --round-border-fill: #021d30;
  --round-border-empty: #e0e0e0;
  --round-square-background: #F2AA5D;
  --round-square-background-inner: #ffffb3;

  --notched-square: polygon(
    var(--notch-min-value) var(--notchSize), 
    0 0, 
    calc(var(--notch-max-value) - var(--notchSize)) var(--notch-min-value), 
    var(--notch-max-value) var(--notchSize), 
    var(--notch-max-value) calc(var(--notch-max-value) - var(--notchSize)), 
    var(--notch-max-value) var(--notch-max-value),
    var(--notchSize) var(--notch-max-value), 
    var(--notch-min-value) calc(var(--notch-max-value) - var(--notchSize))
  );

  --blue-player: #2b2bfe;
  --red-player: #c92e2e;
}

[data-theme='light'] {

  html {
    color-scheme: dark; 
  }

  --changelog-add-color: #448450;
  --changelog-remove-color: #91302B;
  --changelog-change-color: #000;
  --changelog-background: #fff;

  --background-color: #E8E6E6;

  --example-border-color: #9797a3;
  --example-background: #535554;
  --example-color: #fff;
  --example-header: #F1A021;
  --sharebutton-color: #aeaeae;

  --button-color: #26416d;
  --button-border-color: #a78c5c;
  --button-background-color: #fff;

  --dark-mode-toggle-background: #F1A021;
  --dark-mode-toggle-color: #26416d;

  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --image-border: none;
  --image-shadow: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
}


a {
  color: var(--example-header);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  [data-theme='dark'] {
    html {
      color-scheme: dark; 
    }
    --outline-color: rgb(255, 0, 0);

    --background-color: #282828;
    --changelog-add-color: #6dd780;
    --changelog-remove-color: #91302B;
    --changelog-change-color: #ffffff;
    --changelog-background: #535554;
  
    --example-border-color: #daba7b;
    --example-background: #535554;
    --example-color: #fff;
    --example-header: #F1A021;
    
    --sharebutton-color: #535554;
    --button-color: #000;
    --button-border-color: #765e35;
    --button-background-color: #daba7b;

    --image-border: 2px solid #daba7b;
    --image-shadow: 0px 0px 6px #daba7b;

    --invert-icon-color: 1;
    --invert-icon-color-callout: 1;
    --invert-icon-button-color: 0;

    --dark-mode-toggle-background: #26416d;
    --dark-mode-toggle-color: #F1A021;

    --box-shadow: 0 4px 8px 0 rgb(255 188 116 / 17%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    scrollbar-color: #1e1e1e;

  }
}
