.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.title {
  text-align: center;
  font-size: xxx-large;
  font-family: system-ui;
}

.modal {
  width: 90vw;
  height: 90vh;
  border-radius: 8px;
  overflow-y: scroll;
}

.modalButtonRow {
  display: flex;
  justify-content: space-between;

}

.catalogButton {
  width: 100%;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 2em;
  padding: 10px;
  border-bottom: 5px solid var(--button-border-color);
  box-shadow: 0px 10px 10px rgb(0 0 0 / 0.1);
  color: var(--button-color);
  background: linear-gradient(
    to right,
    var(--button-border-color),
    var(--button-background-color), 
    var(--button-border-color));
}

.helperActive {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  font-style: italic;
}

.helperInactive {
  display: none;
}

.active {
  background: linear-gradient(
    to top,
    var(--button-background-color),
    var(--button-background-color), 
    var(--button-border-color));
  box-shadow: none;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.keywordsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: var(--flex-gap);
  border-left: 2px solid var(--button-border-color);
  border-right: 2px solid var(--button-border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-bottom: 5px solid var(--button-border-color);
}

.keywordButton,
.modalBackButton,
.relatedButton,
.closeModalButton {
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 0.1);
  font-size: 1.5em;
  border: 1px solid #26416d;
  border-bottom: 5px solid var(--button-border-color);
  color: #26416d;
  background-color: #fff;
}

.modalBackButton,
.closeModalButton {
  color: white;
  background-color: rgb(202, 202, 202);
  border-bottom: 1px solid var(--button-border-color);
}

.relatedButton {
  box-shadow: none;
  font-size: large;
  border-bottom: 1px solid var(--button-border-color);
}

.keywordButton {
  border-radius: var(--border-radius);
}

.relatedContainer {
  padding-top: 20px;
}

.relatedHeader {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 100;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--button-border-color);
}

.relatedButtons {
  display: flex;
  gap: var(--flex-gap);
}

.exampleHeader {
  margin: 0;
  cursor: pointer;
  color: var(--example-header);
  font-size: 2.0rem;
  border-bottom: 1px solid var(--example-header);
  font-family: var(--font-family);
  font-variant: small-caps;
  border: none;
  background: none;
  padding: 0;
  width: 100%;
  text-align: left;

  &> h4 {
    margin: 0;
  }
}

.exampleList {
  margin: 0;
  margin-inline: -20px;
}

.listItem {
  &::marker {
    font-family: var(--font-family);
    font-size: 1.5rem;
  }
}

.illustrationImage {
  max-width: min(95%, 800px);
  min-width: max(10%, 200px);
}

.alignleft {

}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.inlineKeyword {
  font-family: var(--font-family);
  font-size: larger;
  font-weight: 700;
}

.exampleContainer {
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background-color: var(--example-background);
  color: var(--example-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.inlineIcon {
  width: 1rem;
  margin-bottom: -2px;
}