.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-family);
}

.modal {
  width: 95vw;
  height: 95vh;
  border-radius: 8px;
  overflow-y: scroll;
  background-color: var(--background-color);
}

.aboutContainer {
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--border-thin);
  margin-bottom: var(--flex-gap);
}

.aboutButtonRow {
  display: flex;
  gap: var(--flex-gap);
  justify-content: center;
  flex-direction: row;
}

.versionInfo {
  padding-top: 10px;
  display: block;
}

.version,
.date {
  letter-spacing: 0.1rem;
  font-family: var(--font-family);
}

.paragraph {
  padding-bottom: var(--flex-gap);
  display: block;
}

.header2,
.header3,
.header4 {
  font-family: var(--font-family);
  width: 100%;
  border-bottom: 2px solid var(--button-border-color);
  margin-top: 20px;
  margin-bottom: 20px;
  font-variant: small-caps;
  font-size: xx-large;
}

.modalButtonRow {
  display: flex;
  justify-content: space-between;

}

.catalogButton {
  width: 100%;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  font-size: 2em;
  padding: 10px;
  border-bottom: 5px solid var(--button-border-color);
  box-shadow: 0px 10px 10px rgb(0 0 0 / 0.1);
  color: var(--button-color);
  background: linear-gradient(
    to right,
    var(--button-border-color),
    var(--button-background-color), 
    var(--button-border-color));
}

.searchContainer {
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  padding: 10px;
  border: var(--border-thin);
  box-shadow: 0px 10px 10px rgb(0 0 0 / 0.1);
  color: var(--button-color);

  .button {
    vertical-align: top;
    width: 3rem;
  }
}

.searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.searchInput {
  border-radius: var(--border-radius);
  font-size: 2rem;
  margin-bottom: var(--flex-gap);
  margin-right: 10px;
  max-width: 200px;
}

.searchResult {
  display: flex;
  gap: var(--flex-gap);
  justify-content: center;
  flex-wrap: wrap; 
}

.helperActive {
  padding-top: var(--flex-gap);
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  font-style: italic;
}

.helperInactive {
  display: none;
}

.active {
  background: linear-gradient(
    to top,
    var(--button-background-color),
    var(--button-background-color), 
    var(--button-border-color));
  box-shadow: none;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.keywordsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: var(--flex-gap);
  border-left: 2px solid var(--button-border-color);
  border-right: 2px solid var(--button-border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-bottom: 5px solid var(--button-border-color);
}

.button,
.keywordButton,
.modalBackButton,
.relatedButton,
.closeModalButton {
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  padding: 5px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 0.1);
  font-size: 1.5em;
  border: 1px solid #26416d;
  border-bottom: 5px solid var(--button-border-color);
  color: #26416d;
  background-color: #fff;
}

.modalBackButton,
.closeModalButton {
  color: white;
  background-color: rgb(202, 202, 202);
  border-bottom: 1px solid var(--button-border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.relatedButton {
  box-shadow: none;
  font-size: large;
  border-bottom: 1px solid var(--button-border-color);
}

.keywordButton {
  border-radius: var(--border-radius);
}

.relatedContainer {
  padding-top: 20px;
}

.relatedHeader {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 100;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--button-border-color);
}

.relatedButtons {
  display: flex;
  gap: var(--flex-gap);
  flex-wrap: wrap;
}

.referenceHeader {
  margin-bottom: 0;  
}

.referenceSummary {
  padding-top: 5px;
  padding-bottom: 5px;
}

.referenceLink {
  font-family: var(--font-family);
  font-size: x-large;
  display: flex;
  gap: var(--flex-gap);
  align-items: center;
}

.referenceButton {
  font-family: var(--font-family);
  font-size: inherit;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.exampleHeader {
  margin: 0;
  cursor: pointer;
  color: var(--example-header);
  font-size: 2.0rem;
  border-bottom: 1px solid var(--example-header);
  font-family: var(--font-family);
  font-variant: small-caps;
  border: none;
  background: none;
  padding: 0;
  width: 100%;
  text-align: left;

  &> .header4 {
    margin: 0;
    border-bottom-color: var(--example-header);
  }
}

.exampleList,
.exampleListNumbered {
  margin: 0;
  margin-inline: -20px;
  font-style: normal;
  padding-bottom: 20px;
  max-width: 90%;
}

.exampleListNumbered {
  list-style-type: decimal;
}

.exampleList {
  list-style-type: disc;
}

.listItem {
  &::marker {
    font-family: var(--font-family);
    font-size: 1.5rem;
  }
}

.illustrationImage {
  max-width: min(95%, 800px);
}

.imageLeft {
  float: left;
}

.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageRight {
  float: right;
}

.inlineKeyword {
  font-family: var(--font-family);
  font-size: larger;
  font-weight: 700;
}

.exampleContainer {
  padding: 20px 20px 20px 20px;
  background-color: var(--example-background);
  color: var(--example-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 20px;

  .inlineIcon {
    filter: invert(1);
  }
}

.exampleModule {
  --notchSize: 20px;
  
  clip-path: 
    polygon(
      0% var(--notchSize), 
      0 0, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      100% 100%,
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
}

.inlineIcon {
  max-width: 2rem;
  margin-bottom: -2px;
  height: 1rem;
}