.container {
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--example-background);
  color: var(--example-color);
  margin-bottom: var(--flex-gap);

  &span> img {
    filter: invert(var(--invert-icon-color-callout));
    border: 1px solid red;
  }
}

.header {
  margin-top: 0;
  border-bottom: 2px solid var(--example-color);
}