.container {
  padding: var(--flex-gap);
  background-color: var(--changelog-background);
  margin-bottom: var(--flex-gap);
}

.header {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--font-family);
}

.source {
  display: block;
}