.image {
  max-width: min(95%, 800px);
  object-fit: contain;
}

.left {
  float: left;
  clear: both;
  padding-right: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--flex-gap);
}

.right {
  padding-left: 10px;
  float: right;
  clear: both;
}