.image {
  box-shadow: var(--image-shadow);
  border: var(--image-border);
  max-width: min(95%, 800px);
  object-fit: contain;
}

.left {
  float: left;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--flex-gap);
}

.right {
  float: right;
  clear: both;
}