.container {
  padding: 40px 20px 20px 20px;
  background-color: var(--background-color);
  border: var(--border-thin);
  border-radius: var(--border-radius);
  max-width: 660px;
  @media only screen and (max-width: 670px) {
    padding: 40px 5px 5px 5px;
  }
}

.topMenu {
  display: flex;
  justify-content: center;
  z-index: 2;
  
  padding-bottom: 5px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--background-color);
  border-bottom: var(--border-thin);
  width: 100%;
}

.topMenuButtonRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topMenuBackButton,
.topMenuCloseButton {
  color: white;
  background-color: rgb(202, 202, 202);
  border-bottom: 1px solid var(--button-border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}