.container {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header {
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 100;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--button-border-color);
}

.buttonsContainer {
  display: flex;
  gap: var(--flex-gap);
  flex-wrap: wrap;
}

.relatedButton {
  box-shadow: none;
  font-size: large;
  border-bottom: 1px solid var(--button-border-color);
}