.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  border: var(--border-thin);
  margin-bottom: var(--flex-gap);
  font-family: var(--default-font-family);
  scrollbar-gutter: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}

.scoreBoard {
  padding-left: var(--flex-gap);
  padding-right: var(--flex-gap);
}

.select {
  padding: 10px;
  font-size: large;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--flex-gap) * 2)
}

.secondaryObjectiveContainer {
  display: flex;
  
  flex-direction: column;
  @media screen and (min-width: 860px) {
    flex-direction: row;
  }
}

.objectiveCard {
  position: relative;
  
}

.blueMarked1,
.blueMarked2,
.blueMarked3,
.blueMarked4,
.redMarked1,
.redMarked2,
.redMarked3,
.redMarked4 {
  position: absolute;
  bottom: 15px;
}

.blueMarked1 {
  left: 10px
}
.blueMarked2 {
  left: 40px
}
.blueMarked3 {
  left: 70px
}
.blueMarked4 {
  left: 100px
}
.redMarked1 {
  right: 10px
}
.redMarked2 {
  right: 40px
}
.redMarked3 {
  right: 70px
}
.redMarked4 {
  right: 100px
}

.blueDestroyGoal {
  position: absolute;
  bottom: 15px;
  left: 100px
}
.redDestroyGoal {
  position: absolute;
  bottom: 15px;
  left: 140px
}

.blueAny {
  position: absolute;
  left: 148px;
  bottom: 175px;  
}

.blueFriendly {
  position: absolute;
  left: 148px;
  bottom: 140px;  
}
.blueContested {
  position: absolute;
  left: 148px;
  bottom: 95px;  
}
.blueEnemy {
  position: absolute;
  left: 148px;
  bottom: 45px;  
}

.redAny {
  position: absolute;
  right: 25px;
  bottom: 175px;  
}
.redFriendly {
  position: absolute;
  right: 25px;
  bottom: 140px;  
}
.redContested {
  position: absolute;
  right: 25px;
  bottom: 95px;  
}
.redEnemy {
  position: absolute;
  right: 25px;
  bottom: 45px;  
}

.bluePanic {
  position: absolute;
  left: 145px;
  bottom: 118px;
}

.blueSuppression {
  position: absolute;
  left: 145px;
  bottom: 70px;
}

.redPanic {
  position: absolute;
  left: 215px;
  bottom: 118px;  
}

.redSuppression {
  position: absolute;
  left: 215px;
  bottom: 70px;
}

.blueButton,
.redButton,
.objectiveButton {
  color: white !important;
  width: 80px;
  &:disabled {
    color: black !important;
    background-color: grey !important;
  }
}

.objectiveButton {
  padding: 0;
  
  width: inherit;
}

.blueButton {
  background-color: #233E68 !important;
}

.redButton {
  background-color: #661F18 !important;
  
}

.secondaryObjectiveButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  margin: var(--flex-gap);
  justify-content: flex-end;
}

.secondaryObjectiveTiled {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.roundTrackerContainer {
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.objectiveChecked {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: balance;
}

.roundProgress::before {
  content: "";
  background: var(--round-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.roundProgress {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress {
  background: var(--round-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.square {
  background: #fff;
  color: #999;
  border-radius: 20%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--round-border-empty);
  transition: .4s ease;
}

.active {
  border-color: var(--round-border-fill);
  color: black;
  background: radial-gradient(closest-side,var(--round-square-background-inner), #ebf8e1, #f69d3c);
}

.bigPointTrackerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.smallPointTrackerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pointTracker {
  display: flex;
  flex-direction: row;
  background-color: #661F18;
  padding: 4px;
  flex-wrap: wrap;
}

.pointSpace,
.smallScreenPointSpace {
  width: 30px;
  height: 30px;
  padding: 10px;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

.pointHeader {
  display: flex;
  justify-content: space-between;
}

.pointOverflowContainer {
  display: none;
  @media screen and (min-width: 860px) {
    display: block;
  }
}

.smallScreenPointSpace {
  display: flex;
  width: 50px;
  font-size: xx-large;
  @media screen and (min-width: 860px){
    display: none;
  }
}

.pointSpace {
  display: none;
  @media screen and (min-width: 860px) {
    display: flex;
  }
  
}

.red {
  background-color: var(--red-player);

}

.blue {
  background-color: var(--blue-player);
}

.objectiveCards {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 860px) {
    flex-direction: row;
  }
}

.advantageCard {
  padding: calc(var(--flex-gap) / 2);
}

.advantageCardContainer {
  display: flex;
  color: white;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 860px) {
    flex-direction: row;
  }
}

.secondaryPlayerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controlButtons {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.warning {
  background-color: #661F18;
  color: white;
}

.card {
  object-fit: contain;
  object-position: top;
  transition: 0.2s;
}

.minimizeCard {
  object-fit: cover;
  height: var(--minimized-card);
  @media screen and (min-width: 860px) {
    object-fit: cover;
  }

  .bluePanic {
    background-color: #661F18;
  }
}

.instructions {
  padding-left: 20px;
  padding-right: 20px;
}