.container {
  padding-top: var(--flex-gap);
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.icon {
  padding-right: var(--flex-gap);
  padding-left: var(--flex-gap);
  height: 22px;
}

.button {
  color: var(--sharebutton-color) !important;
}