.exampleList,
.exampleListNumbered {
  margin: 0;
  margin-inline: -20px;
  font-style: normal;
  padding-bottom: 20px;
  max-width: 90%;
  font-family: var(--default-font-family);
}

.exampleListNumbered {
  list-style-type: decimal;
}

.exampleList {
  list-style-type: disc;
}

.listItem {
  padding-bottom: 5px;
  &::marker {
    font-family: var(--font-family);
    font-size: 1.5rem;
  }
}

.listItemLine {
  &>img {
    filter: invert(var(--invert-icon-color));
  }
}