

.topMenuToggleDarkMode {
  scale: 0.2;
}

.container {
  min-height: 70px;
  @media screen and (min-width: 320px) {
    min-height: 50px;
  }
}

.topMenu {
  display: flex;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  background-color: var(--background-color);
  width: 100%;
  @media screen and (min-width: 320px) {
    padding-bottom: 9px;
  }
}

.topMenuButtonRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(var(--max-width) + 20px);
}

.topMenuBackButton,
.topMenuCloseButton {
  font-family: var(--default-font-family);
  
  text-align: center;
  cursor: pointer;
  padding: 5px;
  
  border-radius: 4px;
  font-size: 1.5em;
  min-width: 30px;
  border: var(--border-thin);
  box-shadow: none;
  
  color: var(--button-color);
  background-color: var(--button-background-color);
  display: block;
  transition: all 0.5s;

  &:focus-visible {
    outline-color: var(--outline-color);
  }
}

.topMenuCloseButton:hover {
  background-color: var(--back-button-background-color-darker);
  transition: all 0.5s;

  & > img {
    filter: invert(0.1);
  }
}

.topMenuBackButton {
  display: inline-block;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--back-button-background-color);
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0%;
    height: 100%;
    background-color: var(--back-button-background-color-darker);
    transform: skewX(21deg);
    transition: all .5s;
    z-index: -1;
  }
  &:hover {
    &:before {
      width: 110%;
    }
  }
}